@font-face {
    font-family: 'Teko';
    src: url('./Teko-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
    font-family: 'Teko', 'Times New Roman', Times, serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    background: url('./body-bg.jpg');
    background-size: cover;
    
}

header {
    width: fill;    
    height: auto;    
    background-color: rgba(0, 0, 0, 0.75);       
    padding: 0.75em;
    position: sticky;
    top: 0;       
}

nav {      
    display: flex;
    justify-content: space-around;
}

#content {    
    flex-grow: 1;       
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5em; 
    gap: 1.5em;            
}

.nav-button {
    font-family: 'Teko', 'Times New Roman', Times, serif;    
    background-color: rgb(129, 52, 22);
    border-radius: 5px;
    box-shadow: rgb(255, 255, 255) -2px 4px 0px 0px;
    padding: 0.3em 1.2em 0.3em 1.2em;
    background-repeat: no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
    border: none;
    font-size: 1.6rem;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;    
}

.content-container {
    flex-grow: 1;       
    padding: 0.5%;
    display: flex;
    align-items: center;       
    font-size: 1.8em;
    overflow: auto;
}

.content-container div {    
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0.5em;    
    height: 400px;
    min-width: 400px;
    overflow: auto;
}

.content-container img {        
    height: 400px;      
}
